@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700&');
*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  transition: 0.5s ease-in !important;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth !important;
    }
  }
  
@media print {
:root {
    display: none !important;
    pointer-events: none !important;
}
}
  
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


body {

overscroll-behavior-y: contain;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-touch-callout: none;
font-family: 'Baloo Chettan 2', cursive;
}


#overlay {
position: fixed; /* Sit on top of the page content */
display: none; /* Hidden by default */
width: 100%; /* Full width (cover the whole page) */
height: 100%; /* Full height (cover the whole page) */
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5); /* Black background with opacity */
z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
cursor: pointer; /* Add a pointer on hover */
}
body{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.navbar {
  background-color: #240444 ;
   

}
.navbar-brand img{
  width: 8rem !important; 
  
}

span .navbar-toggler-icon {
  background-color: #000000 !important;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}


.toggler-icon {
  width: 100%;
  height: 2px;
  background-color: #000000;
  display: block;
  position: absolute;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  border-radius: 10px;
  margin-right: 100px !important;
}


/*when navigation is clicked*/
.navbar-toggler .top-bar {
  margin-top: 7px;
  transform: rotate(0deg);
  width: 18px !important;

}


.navbar-toggler .middle-bar {
  margin-top: 13.5px;
  width: 14px !important;
  transform: rotate(0deg);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(0deg); 
}

.nav-item {
  margin-left: 50px !important;
}
.navbar-nav{
  margin-left: auto !important;
}

.nav-link {
  font-weight: 400 !important;
  font-size: 1.1rem !important;
  color: #fff !important;
}

.nav-link.active{
  color: #7e15e7 !important;
}

.nav-link.clientarea{ 
  background: #7e15e7 !important;
  border-radius: 15px;
  width: 100% !important;
  padding: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: 20px !important;
}




.toggler-icon {
  display: block;
  background-color: #fff !important;
  margin: 6px auto;
}
.homelanding{
  background-color:  #240444 !important;
  color: #fff !important;
  height: 100vh !important;

}
.homelanding h1 span{
  color:#7e15e7 !important;
}
.homelanding a.btn{
  width: 200px !important;
  height: 75px !important;
  background-color: #7e15e7 !important;
  color: #fff !important;
  padding: 20px !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  text-align: center !important;
  margin-top: 20px !important;
}
.homelanding a.btn:hover{
  background-color: transparent !important;
  color: #fff !important;
  border: 2px solid #7e15e7 !important;
}


.about p{
  line-height: 30px !important;
}


.form{
  background-color: #240444 !important;
}
.form input{
   height: 50px !important;
   width: 50% !important;

}
.form input::placeholder{
  background-color: #7F0CF3 !important;
  padding: 30px !important;
}

.footer h4{
  font-size: 1.3rem !important;
}
.footer p{
  font-size: 1rem !important;
}


/********** RESPONSIVENESS **********/

/* For 480 Resolution - Laptop*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  

  .navbar-nav  {
   
    padding-bottom: 100px !important;
    padding-top: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    display: flex !important;

   
  }


  .nav-link.active{
    color: #7e15e7 !important;
  }

.navbar-nav{
    margin-top: 20px !important;
    height: 100vh  !important;
    padding-top: 0 !important;
  }

  .nav-item {
    margin-left: 0px !important;
    margin-top: 30px !important;
   
  }
  
  .nav-link {
    font-weight: 500;
    font-size: 1.2rem !important;
    color: #fff !important;
    margin-left: 15px !important;
  }

  .navbar-brand img{
    width: 6rem !important;
  }

  .nav-link.clientarea{
    border-radius: 15px;
    justify-content: center !important;
    display: block !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    position: relative;
    z-index: 1000;
    color: #fff !important;
  }

  

  .nav-item {
    margin-left: 0px !important;
    margin-top: 30px !important;
   
  }
  
  .nav-link {
    font-weight: 500;
    font-size: 1.2rem !important;
    margin-left: 30px !important;
  }

  .navbar-brand img{
    width: 6rem !important;
  }

  .show-on-hover:hover  {
    display: block !important;
  }

  

 
 
  .footer p{
    font-size: 12px;
    justify-content: left;
  }

.footer h5{
    font-size: px;
  }

.footer{
    padding: 0px 24px !important;
  }

.footer-logo{
    width: 90px !important;
    height: 30px !important;
  }

  .footer Link{
    margin-bottom: 0px 30px !important;
  }

}

